body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #C14600;
    color: #FEF9E1;
}


#add-books-btn{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    width: 150px;
    background-color: #FF9D23;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;

}

#input-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: start;
    margin-top: 10px;
    gap: 10px;
}

#input-form > label{
    margin-bottom:  -8px;
}

.form-container {
    margin-top: 60px;
    border: 1px solid gray;
    border-radius: 5px;
}

.form-container > #close-form-btn{
    align-items: end;
    border: none;
    background-color: white;
    font-weight: bold;
    width: 100%;
    text-align: end;
    color: red;
    font-size: 1.2rem;
}

#form-submit{
    font-size: 1.1rem;
    background-color: #7886C7;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
}

.display-books {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.books{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
}

.delete-btn{
    background-color: rgb(224, 215, 215);
    color: black;
    font-size: medium;
    width: 200px;
    border: none;
    border-radius: 10px;
}

.not-read-btn{
    background-color: rgb(226, 99, 99);
    color: white;
    font-size: medium;
    width: 200px;
    border: none;
    border-radius: 10px;
}

.read-btn{
    background-color: rgb(46, 164, 119);
    color: white;
    font-size: medium;
    width: 200px;
    border: none;
    border-radius: 10px;

}

@media (max-width:420px){


    #input-form{
        width: 200px;
    }
}